/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*  Colori app:
    BLU SCURO = #22384f
                34, 56, 79,
    BLU CHIARO = #107dd0

    VERDE SCURO = #009432
    VERDE CHIARO = #5CC77A
*/
.btn {
    color:#22384f;
    border-color:#22384f;
    background-color: white;
    text-align: center;
    text-transform: none;
    border-width: 2;
    border-radius: 2 2 2 2;
    font-family: Montserrat-Regular;
    height: 45;
    font-size:17;
}
.btn:focus
{
    border-color: #107dd0;
    color:#107dd0;
}

.btn-menu
{
    color: white;
    border-color: white;
    text-align: center;
    text-transform: none;
    border-width: 2;
    border-radius: 2 2 2 2;
    font-family: Montserrat-Regular;
    height: 45;
    font-size:17;
    width: 90%;
}
.btn-menu:pressed
{
    border-color: #107dd0;
    color:#107dd0;
}


.roundedBtn
{
    border-color: white;
    border-width: 5;
    border-radius: 100%;
    background-color: #22384f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% 30%;
    height: 70;
    width: 70;
}
.roundedBtn:active
{
    background-color: #107dd0;
    border-color: #107dd0;
}
.imageTop
{
    border-color: white;
    border-width: 5;
    border-radius: 100%;
    background-color: #22384f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.roundedInfo
{
    border-color: #22384f;
    color: #22384f;
    border-width: 5;
    border-radius: 100%;
    background-color: white;
    height: 70;
    width: 70;
}

.action-bar
{
    font-size:18;
    font-family: Montserrat-Regular;
    vertical-align:center
}

.two-color-gradient {
    background: linear-gradient(135deg, #107dd0, #22384f);
}
.topTitle
{
    font-family: Rasa-Medium;
    color: white;
    font-size: 30;
}
.form-input {
    border-bottom-color: #107dd0;
    border-bottom-width: 1;
    color: white;
    placeholder-color: #107dd0;
    width: 90%;
}
.textPrimary
{
    font-family: Montserrat-Regular;
    font-size: 18;
    color: white;
}
.textPrimary-bold
{
    font-family: Montserrat-Bold;
    font-size: 18;
    color: white;
}
.textMontserratRegular
{
    font-family: Montserrat-Regular;
}
.lode
{
    font-family: Montserrat-Bold;
    font-size: 18;
    vertical-align: center;
    horizontal-align: center;
    color: rgba(216, 71, 71,0.5);
    rotate:-45;
}
.badge {
    margin: 5 10 0 0;
    horizontal-align: right;
    width: 20;
    height: 20;
    border-color: red;
    border-width: 1;
    border-radius: 50%;
    background-color: red;
}
.badge-text {
    margin: 2 0 0 0;
    font-size: 9;
    font-weight: bold;
    color: white;
    vertical-align: center;
    horizontal-align: center;
}
.border
{
    border-width: 3;
    border-color: #22384f;
    border-radius: 5;
}
.examPass
{
    font-family: Montserrat-Regular;
    font-size: 18;
    color: #22384f;
    border-color: #22384f;
    border-width: 5;
    border-radius: 100%;
}

.examNA
{
    font-family: Montserrat-Regular;
    font-size: 18;
    color: gray;
    border-color: gray;
    border-width: 5;
    border-radius: 100%;
}

.examFreq
{
    font-family: Montserrat-Regular;
    font-size: 18;
    color: lightgray;
    border-color: lightgray;
    border-width: 5;
    border-radius: 100%;
}
.icon{
    font-family: 'icomoon';
    vertical-align: center;
    margin: 6;
}
.color-green{
    color: #22384f;
    border-color: #22384f;
}
.color-gray{
    color:gray;
    border-color: gray;
}
.main_image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.circle{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    border-radius: 100%;
    height: 180px;
    width: 180px;
}
.pic_rounded{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border-color: #22384f;
    border-width: 5;
}
ActionBar {
    background-color: #22384f;
    color: white;
}
Button
{
    color:#fff;
    background-color: rgba(34, 56, 79, 0.7);
    font-family: Montserrat-Regular;
}
ListView{
    separator-color: #22384f;
}
